In [1]:
import pandas as pd
import numpy as np

In [3]:
games_df = pd.concat(map
                     (pd.read_csv, 
                          ['nba_game_detailsSeason=2021-22.csv', 
                           'nba_game_detailsSeason=2020-21.csv', 
                           'nba_game_detailsSeason=2019-20.csv',
                           'nba_game_detailsSeason=2018-19.csv',
                           'nba_game_detailsSeason=2017-18.csv',
                           'nba_game_detailsSeason=2016-17.csv',
                           'nba_game_detailsSeason=2015-16.csv',
                           'nba_game_detailsSeason=2014-15.csv',
                           'nba_game_detailsSeason=2013-14.csv',
                           'nba_game_detailsSeason=2012-13.csv']), ignore_index=True)
games_df.head(10)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22021,1610612746,LAC,LA Clippers,22101083,2022-03-22,LAC @ DEN,L,240,42,...,29,35,27,3,7,6,19,115,-12,1
1,22021,1610612743,DEN,Denver Nuggets,22101083,2022-03-22,DEN vs. LAC,W,240,45,...,34,40,31,4,5,11,19,127,12,1
2,22021,1610612749,MIL,Milwaukee Bucks,22101082,2022-03-22,MIL vs. CHI,W,240,50,...,48,53,26,4,6,15,12,126,28,1
3,22021,1610612741,CHI,Chicago Bulls,22101082,2022-03-22,CHI @ MIL,L,240,39,...,28,33,21,9,4,7,12,98,-28,1
4,22021,1610612737,ATL,Atlanta Hawks,22101081,2022-03-22,ATL @ NYK,W,240,40,...,33,43,26,7,5,14,18,117,6,1
5,22021,1610612752,NYK,New York Knicks,22101081,2022-03-22,NYK vs. ATL,L,240,42,...,27,41,20,12,4,14,23,111,-6,1
6,22021,1610612744,GSW,Golden State Warriors,22101080,2022-03-22,GSW @ ORL,L,240,34,...,36,48,21,6,3,18,23,90,-4,1
7,22021,1610612753,ORL,Orlando Magic,22101080,2022-03-22,ORL vs. GSW,W,240,34,...,33,39,25,9,6,14,14,94,4,1
8,22021,1610612750,MIN,Minnesota Timberwolves,22101079,2022-03-21,MIN @ DAL,L,240,36,...,35,50,21,9,3,9,18,108,-2,1
9,22021,1610612742,DAL,Dallas Mavericks,22101079,2022-03-21,DAL vs. MIN,W,240,40,...,40,47,27,5,3,12,21,110,2,1

In [4]:
games_df.TEAM_NAME.value_counts()

Dallas Mavericks          793
Orlando Magic             792
Denver Nuggets            792
Phoenix Suns              791
Sacramento Kings          791
Milwaukee Bucks           791
Indiana Pacers            791
Memphis Grizzlies         791
Miami Heat                791
Boston Celtics            791
Portland Trail Blazers    791
Philadelphia 76ers        790
Brooklyn Nets             790
Utah Jazz                 790
Toronto Raptors           790
Houston Rockets           790
Oklahoma City Thunder     790
Washington Wizards        789
Los Angeles Lakers        789
San Antonio Spurs         789
Atlanta Hawks             785
New York Knicks           784
Detroit Pistons           784
Minnesota Timberwolves    783
Golden State Warriors     783
Cleveland Cavaliers       783
Chicago Bulls             783
New Orleans Pelicans      708
Charlotte Hornets         619
LA Clippers               546
Los Angeles Clippers      246
Charlotte Bobcats         164
New Orleans Hornets        82
Name: TEAM_NAME, dtype: int64

In [5]:
games_df.TEAM_ID.value_counts()

1610612742    793
1610612746    792
1610612743    792
1610612753    792
1610612756    791
1610612754    791
1610612763    791
1610612748    791
1610612738    791
1610612757    791
1610612758    791
1610612749    791
1610612762    790
1610612740    790
1610612760    790
1610612751    790
1610612755    790
1610612761    790
1610612745    790
1610612747    789
1610612759    789
1610612764    789
1610612737    785
1610612765    784
1610612752    784
1610612744    783
1610612739    783
1610612766    783
1610612741    783
1610612750    783
Name: TEAM_ID, dtype: int64

In [18]:
games_df.TEAM_ID.nunique()

30

In [6]:
games_df.WL.value_counts()

L    11830
W    11830
Name: WL, dtype: int64

In [7]:
games_df.isna().sum()

SEASON_ID            0
TEAM_ID              0
TEAM_ABBREVIATION    0
TEAM_NAME            0
GAME_ID              0
GAME_DATE            0
MATCHUP              0
WL                   2
MIN                  0
FGM                  0
FGA                  0
FG_PCT               2
FG3M                 0
FG3A                 0
FG3_PCT              2
FTM                  0
FTA                  0
FT_PCT               2
OREB                 0
DREB                 0
REB                  0
AST                  0
STL                  0
BLK                  0
TOV                  0
PF                   0
PTS                  0
PLUS_MINUS           0
VIDEO_AVAILABLE      0
dtype: int64

In [8]:
games_df = games_df.dropna()

games_df['WIN'] = np.where(games_df['WL'] == 'W', 1, 0)

games_df.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE,WIN
0,22021,1610612746,LAC,LA Clippers,22101083,2022-03-22,LAC @ DEN,L,240,42,...,35,27,3,7,6,19,115,-12,1,0
1,22021,1610612743,DEN,Denver Nuggets,22101083,2022-03-22,DEN vs. LAC,W,240,45,...,40,31,4,5,11,19,127,12,1,1
2,22021,1610612749,MIL,Milwaukee Bucks,22101082,2022-03-22,MIL vs. CHI,W,240,50,...,53,26,4,6,15,12,126,28,1,1
3,22021,1610612741,CHI,Chicago Bulls,22101082,2022-03-22,CHI @ MIL,L,240,39,...,33,21,9,4,7,12,98,-28,1,0
4,22021,1610612737,ATL,Atlanta Hawks,22101081,2022-03-22,ATL @ NYK,W,240,40,...,43,26,7,5,14,18,117,6,1,1

In [9]:
games_df.to_csv("games_10years.csv")

In [10]:
players_df = pd.read_csv('nba_players_2021-22.csv')

players_df.head(10)

,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,...,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS
0,203932,Aaron Gordon,Aaron,1610612743,DEN,26.0,65,40,25,0.615,...,87,187,90,96,51,107,89,34,5,"203932,1610612743"
1,1630565,Aaron Henry,Aaron,1610612755,PHI,22.0,6,6,0,1.000,...,285,545,549,567,492,583,238,34,5,"1630565,1610612755"
2,1628988,Aaron Holiday,Aaron,1610612756,PHX,25.0,56,30,26,0.536,...,331,341,275,297,350,322,238,34,5,"1628988,1610612756"
3,1630174,Aaron Nesmith,Aaron,1610612738,BOS,22.0,45,27,18,0.600,...,511,396,461,443,205,471,238,34,5,"1630174,1610612738"
4,1630598,Aaron Wiggins,Aaron,1610612760,OKC,23.0,42,10,32,0.238,...,244,206,291,254,523,285,238,34,5,"1630598,1610612760"
5,1627846,Abdel Nader,Abdel,1610612756,PHX,28.0,14,11,3,0.786,...,449,341,321,487,278,454,238,34,5,"1627846,1610612756"
6,1630278,Ade Murkey,Ade,1610612758,SAC,24.0,1,0,1,0.000,...,521,572,549,571,332,588,238,34,5,"1630278,1610612758"
7,1629678,Admiral Schofield,Admiral,1610612753,ORL,24.0,31,8,23,0.258,...,462,360,445,448,448,464,238,34,5,"1629678,1610612753"
8,1629958,Ahmad Caver,Ahmad,1610612754,IND,25.0,1,0,1,0.000,...,521,572,549,500,107,564,238,34,5,"1629958,1610612754"
9,201143,Al Horford,Al,1610612738,BOS,35.0,61,39,22,0.639,...,404,225,250,170,29,87,42,34,5,"201143,1610612738"

In [16]:
player_stats_by_team = players_df.groupby("TEAM_ID")["NBA_FANTASY_PTS"].sum()
player_stats_by_team

TEAM_ABBREVIATION
ATL    335.4
BKN    364.3
BOS    297.9
CHA    321.5
CHI    343.4
CLE    361.7
DAL    306.5
DEN    343.5
DET    360.3
GSW    316.1
HOU    276.0
IND    351.9
LAC    323.2
LAL    347.2
MEM    337.0
MIA    339.0
MIL    352.2
MIN    289.5
NOP    314.9
NYK    306.7
OKC    354.1
ORL    338.8
PHI    318.4
PHX    355.9
POR    391.6
SAC    340.0
SAS    296.0
TOR    346.0
UTA    310.7
WAS    314.6
Name: NBA_FANTASY_PTS, dtype: float64

In [15]:
player_stats_by_team.count()

30