# NBA api webscraping (2021-2022)

## Teams Box Scores

In [3]:
import requests
import pandas as pd

In [2]:
games_url = 'https://stats.nba.com/stats/leaguegamelog?Counter=1000&DateFrom=&DateTo=&Direction=DESC&LeagueID=00&PlayerOrTeam=T&Season=2021-22&SeasonType=Regular+Season&Sorter=DATE'

In [5]:
headers  = {
    'Connection': 'keep-alive',
    'Accept': 'application/json, text/plain, */*',
    'x-nba-stats-token': 'true',
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36',
    'x-nba-stats-origin': 'stats',
    'Sec-Fetch-Site': 'same-origin',
    'Sec-Fetch-Mode': 'cors',
    'Referer': 'https://stats.nba.com/',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'en-US,en;q=0.9',
}

In [4]:
response = requests.get(url=games_url, headers=headers).json()

In [5]:
games_info = response['resultSets'][0]['rowSet']

In [6]:
games_info[:1]

[['22021',
  1610612750,
  'MIN',
  'Minnesota Timberwolves',
  '0022101058',
  '2022-03-19',
  'MIN vs. MIL',
  'W',
  240,
  47,
  92,
  0.511,
  22,
  47,
  0.468,
  22,
  26,
  0.846,
  8,
  36,
  44,
  30,
  12,
  2,
  11,
  19,
  138,
  19,
  1]]

In [7]:
columns_list = [
    "SEASON_ID",
    "TEAM_ID",
    "TEAM_ABBREVIATION",
    "TEAM_NAME",
    "GAME_ID",
    "GAME_DATE",
    "MATCHUP",
    "WL",
    "MIN",
    "FGM",
    "FGA",
    "FG_PCT",
    "FG3M",
    "FG3A",
    "FG3_PCT",
    "FTM",
    "FTA",
    "FT_PCT",
    "OREB",
    "DREB",
    "REB",
    "AST",
    "STL",
    "BLK",
    "TOV",
    "PF",
    "PTS",
    "PLUS_MINUS",
    "VIDEO_AVAILABLE"
]

In [8]:
nba_game_detail_df = pd.DataFrame(games_info, columns=columns_list)

In [10]:
nba_game_detail_df.head(10)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22021,1610612750,MIN,Minnesota Timberwolves,0022101058,2022-03-19,MIN vs. MIL,W,240,47,...,36,44,30,12,2,11,19,138,19,1
1,22021,1610612749,MIL,Milwaukee Bucks,0022101058,2022-03-19,MIL @ MIN,L,240,43,...,37,51,27,6,4,14,18,119,-19,1
2,22021,1610612764,WAS,Washington Wizards,0022101061,2022-03-19,WAS vs. LAL,W,240,44,...,29,36,30,10,1,8,13,127,8,1
3,22021,1610612747,LAL,Los Angeles Lakers,0022101061,2022-03-19,LAL @ WAS,L,240,48,...,32,41,25,3,1,15,23,119,-8,1
4,22021,1610612765,DET,Detroit Pistons,0022101060,2022-03-19,DET @ CLE,L,240,41,...,28,38,23,10,6,16,22,109,-4,1
5,22021,1610612739,CLE,Cleveland Cavaliers,0022101060,2022-03-19,CLE vs. DET,W,240,45,...,32,45,28,7,4,16,16,113,4,1
6,22021,1610612742,DAL,Dallas Mavericks,0022101059,2022-03-19,DAL @ CHA,L,240,39,...,32,44,18,4,4,15,26,108,-21,1
7,22021,1610612766,CHA,Charlotte Hornets,0022101059,2022-03-19,CHA vs. DAL,W,240,44,...,36,46,33,8,8,9,18,129,21,1
8,22021,1610612756,PHX,Phoenix Suns,0022101056,2022-03-18,PHX vs. CHI,W,240,47,...,39,49,23,5,4,13,20,129,27,1
9,22021,1610612741,CHI,Chicago Bulls,0022101056,2022-03-18,CHI @ PHX,L,240,35,...,24,37,20,6,0,11,18,102,-27,1

In [12]:
nba_game_detail_df.to_csv('data/nba_game_details_2021-22.csv', index=False)

## Players General Traditional

In [1]:
players_url = 'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode=PerGame&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season=2021-22&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision=&Weight='

In [6]:
response = requests.get(url=players_url, headers=headers).json()

In [7]:
players_info = response['resultSets'][0]['rowSet']

In [8]:
columns_list = [

"PLAYER_ID",
"PLAYER_NAME",
"NICKNAME",
"TEAM_ID",
"TEAM_ABBREVIATION",
"AGE",
"GP",
"W",
"L",
"W_PCT",
"MIN",
"FGM",
"FGA",
"FG_PCT",
"FG3M",
"FG3A",
"FG3_PCT",
"FTM",
"FTA",
"FT_PCT",
"OREB",
"DREB",
"REB",
"AST",
"TOV",
"STL",
"BLK",
"BLKA",
"PF",
"PFD",
"PTS",
"PLUS_MINUS",
"NBA_FANTASY_PTS",
"DD2",
"TD3",
"GP_RANK",
"W_RANK",
"L_RANK",
"W_PCT_RANK",
"MIN_RANK",
"FGM_RANK",
"FGA_RANK",
"FG_PCT_RANK",
"FG3M_RANK",
"FG3A_RANK",
"FG3_PCT_RANK",
"FTM_RANK",
"FTA_RANK",
"FT_PCT_RANK",
"OREB_RANK",
"DREB_RANK",
"REB_RANK",
"AST_RANK",
"TOV_RANK",
"STL_RANK",
"BLK_RANK",
"BLKA_RANK",
"PF_RANK",
"PFD_RANK",
"PTS_RANK",
"PLUS_MINUS_RANK",
"NBA_FANTASY_PTS_RANK",
"DD2_RANK",
"TD3_RANK",
"CFID",
"CFPARAMS"
]

In [9]:
nba_players_df = pd.DataFrame(players_info, columns=columns_list)

In [10]:
nba_players_df.head(10)

,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,...,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS
0,203932,Aaron Gordon,Aaron,1610612743,DEN,26.0,65,40,25,0.615,...,87,187,90,96,51,107,89,34,5,"203932,1610612743"
1,1630565,Aaron Henry,Aaron,1610612755,PHI,22.0,6,6,0,1.000,...,285,545,549,567,492,583,238,34,5,"1630565,1610612755"
2,1628988,Aaron Holiday,Aaron,1610612756,PHX,25.0,56,30,26,0.536,...,331,341,275,297,350,322,238,34,5,"1628988,1610612756"
3,1630174,Aaron Nesmith,Aaron,1610612738,BOS,22.0,45,27,18,0.600,...,511,396,461,443,205,471,238,34,5,"1630174,1610612738"
4,1630598,Aaron Wiggins,Aaron,1610612760,OKC,23.0,42,10,32,0.238,...,244,206,291,254,523,285,238,34,5,"1630598,1610612760"
5,1627846,Abdel Nader,Abdel,1610612756,PHX,28.0,14,11,3,0.786,...,449,341,321,487,278,454,238,34,5,"1627846,1610612756"
6,1630278,Ade Murkey,Ade,1610612758,SAC,24.0,1,0,1,0.000,...,521,572,549,571,332,588,238,34,5,"1630278,1610612758"
7,1629678,Admiral Schofield,Admiral,1610612753,ORL,24.0,31,8,23,0.258,...,462,360,445,448,448,464,238,34,5,"1629678,1610612753"
8,1629958,Ahmad Caver,Ahmad,1610612754,IND,25.0,1,0,1,0.000,...,521,572,549,500,107,564,238,34,5,"1629958,1610612754"
9,201143,Al Horford,Al,1610612738,BOS,35.0,61,39,22,0.639,...,404,225,250,170,29,87,42,34,5,"201143,1610612738"

In [11]:
nba_players_df.to_csv('data/nba_players_2021-22.csv', index=False)