## NBA game details data cleaning

1. Combine 10 years of game details
2. Filter neccesary columns
3. Create Game Number and WIN_home column
4. Combine every two rows into one row (Same GAME_ID)

In [1]:
import pandas as pd
import os

In [2]:
os.listdir("data/game_details")

['nba_game_detailsSeason=2012-13.csv',
 'nba_game_detailsSeason=2013-14.csv',
 'nba_game_detailsSeason=2014-15.csv',
 'nba_game_detailsSeason=2015-16.csv',
 'nba_game_detailsSeason=2016-17.csv',
 'nba_game_detailsSeason=2017-18.csv',
 'nba_game_detailsSeason=2018-19.csv',
 'nba_game_detailsSeason=2019-20.csv',
 'nba_game_detailsSeason=2020-21.csv',
 'nba_game_detailsSeason=2021-22.csv',
 'nba_game_details_cleaned.csv']

In [3]:
df_2012 = pd.read_csv("data/game_details/nba_game_detailsSeason=2012-13.csv")
df_2013 = pd.read_csv("data/game_details/nba_game_detailsSeason=2013-14.csv")
df_2014 = pd.read_csv("data/game_details/nba_game_detailsSeason=2014-15.csv")
df_2015 = pd.read_csv("data/game_details/nba_game_detailsSeason=2015-16.csv")
df_2016 = pd.read_csv("data/game_details/nba_game_detailsSeason=2016-17.csv")
df_2017 = pd.read_csv("data/game_details/nba_game_detailsSeason=2017-18.csv")
df_2018 = pd.read_csv("data/game_details/nba_game_detailsSeason=2018-19.csv")
df_2019 = pd.read_csv("data/game_details/nba_game_detailsSeason=2019-20.csv")
df_2020 = pd.read_csv("data/game_details/nba_game_detailsSeason=2020-21.csv")
df_2021 = pd.read_csv("data/game_details/nba_game_detailsSeason=2021-22.csv")

In [4]:
df_list = [df_2012, df_2013, df_2014, df_2015, df_2016, df_2017,df_2018, df_2019, df_2020, df_2021]

In [5]:
df_combined = pd.concat(df_list)

In [6]:
df_combined.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22012,1610612766,CHA,Charlotte Bobcats,21201219,2013-04-17,CHA vs. CLE,W,240,37,...,33,40,28,8,4,15,14,105,7,1
1,22012,1610612739,CLE,Cleveland Cavaliers,21201219,2013-04-17,CLE @ CHA,L,240,39,...,31,35,24,9,3,12,24,98,-7,1
2,22012,1610612763,MEM,Memphis Grizzlies,21201223,2013-04-17,MEM vs. UTA,W,240,34,...,38,57,22,7,8,11,24,86,16,1
3,22012,1610612762,UTA,Utah Jazz,21201223,2013-04-17,UTA @ MEM,L,240,25,...,30,47,15,6,6,14,18,70,-16,1
4,22012,1610612760,OKC,Oklahoma City Thunder,21201226,2013-04-17,OKC vs. MIL,L,240,37,...,31,44,16,8,2,8,14,89,-6,1

In [7]:
df_combined_filtered = df_combined.filter(['GAME_ID','GAME_DATE','MATCHUP','TEAM_ABBREVIATION','TEAM_ID','WL','FGM','FGA','FG_PCT','FG_3M','FG_3A','FG3_PCT','FTM','FTA','FT_PCT','OREB','DREB','REB','AST','STL','BLK','TOV','PF','PTS'])
df_combined_filtered = df_combined_filtered.rename(columns={'TEAM_ABBREVIATION':'TEAM'})
df_combined_filtered.head(10)

,GAME_ID,GAME_DATE,MATCHUP,TEAM,TEAM_ID,WL,FGM,FGA,FG_PCT,FG3_PCT,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,21201219,2013-04-17,CHA vs. CLE,CHA,1610612766,W,37,73,0.507,0.400,...,0.767,7,33,40,28,8,4,15,14,105
1,21201219,2013-04-17,CLE @ CHA,CLE,1610612739,L,39,80,0.488,0.348,...,0.667,4,31,35,24,9,3,12,24,98
2,21201223,2013-04-17,MEM vs. UTA,MEM,1610612763,W,34,84,0.405,0.308,...,0.700,19,38,57,22,7,8,11,24,86
3,21201223,2013-04-17,UTA @ MEM,UTA,1610612762,L,25,78,0.321,0.273,...,0.654,17,30,47,15,6,6,14,18,70
4,21201226,2013-04-17,OKC vs. MIL,OKC,1610612760,L,37,89,0.416,0.143,...,0.857,13,31,44,16,8,2,8,14,89
5,21201226,2013-04-17,MIL @ OKC,MIL,1610612749,W,36,85,0.424,0.370,...,0.722,17,36,53,18,5,3,12,11,95
6,21201216,2013-04-17,BOS @ TOR,BOS,1610612738,L,37,84,0.440,0.412,...,0.692,9,29,38,19,7,2,13,22,90
7,21201216,2013-04-17,TOR vs. BOS,TOR,1610612761,W,40,80,0.500,0.571,...,0.786,9,37,46,26,5,5,11,14,114
8,21201227,2013-04-17,PHX @ DEN,PHX,1610612756,L,40,104,0.385,0.280,...,0.647,20,27,47,29,8,5,13,18,98
9,21201227,2013-04-17,DEN vs. PHX,DEN,1610612743,W,49,93,0.527,0.250,...,0.800,15,39,54,28,8,8,16,13,118

In [8]:
home_away_list = []

for x in df_combined_filtered['MATCHUP']:
    if '@' in x:
        x = 'away'
        home_away_list.append(x)
    else:
        x = 'home'
        home_away_list.append(x)

df_combined_filtered['HOME_AWAY'] = home_away_list
df_combined_filtered.head()

,GAME_ID,GAME_DATE,MATCHUP,TEAM,TEAM_ID,WL,FGM,FGA,FG_PCT,FG3_PCT,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,HOME_AWAY
0,21201219,2013-04-17,CHA vs. CLE,CHA,1610612766,W,37,73,0.507,0.400,...,7,33,40,28,8,4,15,14,105,home
1,21201219,2013-04-17,CLE @ CHA,CLE,1610612739,L,39,80,0.488,0.348,...,4,31,35,24,9,3,12,24,98,away
2,21201223,2013-04-17,MEM vs. UTA,MEM,1610612763,W,34,84,0.405,0.308,...,19,38,57,22,7,8,11,24,86,home
3,21201223,2013-04-17,UTA @ MEM,UTA,1610612762,L,25,78,0.321,0.273,...,17,30,47,15,6,6,14,18,70,away
4,21201226,2013-04-17,OKC vs. MIL,OKC,1610612760,L,37,89,0.416,0.143,...,13,31,44,16,8,2,8,14,89,home

In [9]:
# Find the game which has no data
df_combined_filtered[df_combined_filtered['WL'].isna()]

,GAME_ID,GAME_DATE,MATCHUP,TEAM,TEAM_ID,WL,FGM,FGA,FG_PCT,FG3_PCT,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,HOME_AWAY
34,21201214,2013-04-16,IND @ BOS,IND,1610612754,NaN,0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,away
35,21201214,2013-04-16,BOS vs. IND,BOS,1610612738,NaN,0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,home

In [10]:
# Deleting the specific game from the dataframe
df_combined_filtered = df_combined_filtered.drop(df_combined_filtered[df_combined_filtered['GAME_ID']==21201214].index)

In [11]:
df_combined_filtered.isna().sum()

GAME_ID      0
GAME_DATE    0
MATCHUP      0
TEAM         0
TEAM_ID      0
WL           0
FGM          0
FGA          0
FG_PCT       0
FG3_PCT      0
FTM          0
FTA          0
FT_PCT       0
OREB         0
DREB         0
REB          0
AST          0
STL          0
BLK          0
TOV          0
PF           0
PTS          0
HOME_AWAY    0
dtype: int64

In [12]:
game_num = []
for i in range(0, int(len(df_combined_filtered)/2)):
    game_num.append(i)
    game_num.append(i)

df_combined_filtered['GAME_NUM'] = game_num

In [13]:
# Convert two rows into one row / Clean up each column
df_new = df_combined_filtered.set_index(["GAME_NUM","HOME_AWAY"]).unstack()
df_new.columns = df_new.columns.map("_".join)
df_new.head(10)

,GAME_ID_away,GAME_ID_home,GAME_DATE_away,GAME_DATE_home,MATCHUP_away,MATCHUP_home,TEAM_away,TEAM_home,TEAM_ID_away,TEAM_ID_home,...,STL_away,STL_home,BLK_away,BLK_home,TOV_away,TOV_home,PF_away,PF_home,PTS_away,PTS_home
GAME_NUM,,,,,,,,,,,,,,,,,,,,,
0,21201219,21201219,2013-04-17,2013-04-17,CLE @ CHA,CHA vs. CLE,CLE,CHA,1610612739,1610612766,...,9,8,3,4,12,15,24,14,98,105
1,21201223,21201223,2013-04-17,2013-04-17,UTA @ MEM,MEM vs. UTA,UTA,MEM,1610612762,1610612763,...,6,7,6,8,14,11,18,24,70,86
2,21201226,21201226,2013-04-17,2013-04-17,MIL @ OKC,OKC vs. MIL,MIL,OKC,1610612749,1610612760,...,5,8,3,2,12,8,11,14,95,89
3,21201216,21201216,2013-04-17,2013-04-17,BOS @ TOR,TOR vs. BOS,BOS,TOR,1610612738,1610612761,...,7,5,2,5,13,11,22,14,90,114
4,21201227,21201227,2013-04-17,2013-04-17,PHX @ DEN,DEN vs. PHX,PHX,DEN,1610612756,1610612743,...,8,8,5,8,13,16,18,13,98,118
5,21201229,21201229,2013-04-17,2013-04-17,LAC @ SAC,SAC vs. LAC,LAC,SAC,1610612746,1610612758,...,5,5,3,4,13,11,20,20,112,108
6,21201224,21201224,2013-04-17,2013-04-17,NOH @ DAL,DAL vs. NOH,NOH,DAL,1610612740,1610612742,...,5,12,3,5,21,11,17,23,87,99
7,21201221,21201221,2013-04-17,2013-04-17,PHI @ IND,IND vs. PHI,PHI,IND,1610612755,1610612754,...,9,8,6,4,16,16,23,14,105,95
8,21201230,21201230,2013-04-17,2013-04-17,GSW @ POR,POR vs. GSW,GSW,POR,1610612744,1610612757,...,7,2,3,5,12,14,17,13,99,88
9,21201220,21201220,2013-04-17,2013-04-17,ORL @ MIA,MIA vs. ORL,ORL,MIA,1610612753,1610612748,...,5,7,1,12,15,12,22,18,93,105

In [14]:
results = []

for result in df_new['WL_home']:
    if result == 'W':
        result = 1
        results.append(result)
    else:
        result = 0
        results.append(result)

df_new['WIN_home'] = results

In [15]:
df_new = df_new.rename(columns={"GAME_DATE_away":"GAME_DATE","GAME_ID_away":"GAME_ID"})
df_new = df_new.drop(['GAME_ID_home',"GAME_DATE_home","MATCHUP_home","MATCHUP_away"], axis=1)
df_new['GAME_DATE'] = pd.to_datetime(df_new['GAME_DATE'])

In [16]:
df_new.head(20)

,GAME_ID,GAME_DATE,TEAM_away,TEAM_home,TEAM_ID_away,TEAM_ID_home,WL_away,WL_home,FGM_away,FGM_home,...,STL_home,BLK_away,BLK_home,TOV_away,TOV_home,PF_away,PF_home,PTS_away,PTS_home,WIN_home
GAME_NUM,,,,,,,,,,,,,,,,,,,,,
0,21201219,2013-04-17,CLE,CHA,1610612739,1610612766,L,W,39,37,...,8,3,4,12,15,24,14,98,105,1
1,21201223,2013-04-17,UTA,MEM,1610612762,1610612763,L,W,25,34,...,7,6,8,14,11,18,24,70,86,1
2,21201226,2013-04-17,MIL,OKC,1610612749,1610612760,W,L,36,37,...,8,3,2,12,8,11,14,95,89,0
3,21201216,2013-04-17,BOS,TOR,1610612738,1610612761,L,W,37,40,...,5,2,5,13,11,22,14,90,114,1
4,21201227,2013-04-17,PHX,DEN,1610612756,1610612743,L,W,40,49,...,8,5,8,13,16,18,13,98,118,1
5,21201229,2013-04-17,LAC,SAC,1610612746,1610612758,W,L,44,40,...,5,3,4,13,11,20,20,112,108,0
6,21201224,2013-04-17,NOH,DAL,1610612740,1610612742,L,W,31,42,...,12,3,5,21,11,17,23,87,99,1
7,21201221,2013-04-17,PHI,IND,1610612755,1610612754,W,L,43,36,...,8,6,4,16,16,23,14,105,95,0
8,21201230,2013-04-17,GSW,POR,1610612744,1610612757,W,L,40,35,...,2,3,5,12,14,17,13,99,88,0
9,21201220,2013-04-17,ORL,MIA,1610612753,1610612748,L,W,40,42,...,7,1,12,15,12,22,18,93,105,1
10,21201217,2013-04-17,DET,BKN,1610612765,1610612751,L,W,37,39,...,13,5,3,24,24,24,24,99,103,1
11,21201218,2013-04-17,ATL,NYK,1610612737,1610612752,L,W,37,39,...,8,2,3,13,12,15,16,92,98,1
12,21201222,2013-04-17,WAS,CHI,1610612764,1610612741,L,W,36,37,...,5,5,2,9,15,17,22,92,95,1
13,21201228,2013-04-17,HOU,LAL,1610612745,1610612747,L,W,35,33,...,6,5,6,14,13,28,17,95,99,1
14,21201225,2013-04-17,MIN,SAS,1610612750,1610612759,W,L,42,33,...,5,2,2,12,18,17,22,108,95,0
15,21201213,2013-04-16,TOR,ATL,1610612761,1610612737,W,L,40,35,...,8,10,1,18,11,20,19,113,96,0
16,21201215,2013-04-16,POR,LAC,1610612757,1610612746,L,W,30,37,...,10,0,4,14,16,16,12,77,93,1
17,21201202,2013-04-15,NYK,CHA,1610612752,1610612766,L,W,34,43,...,4,1,6,9,11,15,15,95,106,1
18,21201209,2013-04-15,SAC,OKC,1610612758,1610612760,L,W,38,42,...,10,0,6,15,11,15,18,95,104,1
19,21201210,2013-04-15,UTA,MIN,1610612762,1610612750,W,L,36,32,...,7,2,3,10,12,18,18,96,80,0

In [17]:
df_new.to_csv('data/game_details/nba_game_details_cleaned.csv', index=False)